#main-app {
  width: 400px;
  margin: auto;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-family: "Source Code Pro", monospace;
  box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.calc-row {
  display: grid;
  grid-template-rows: 1fr;
}

.result-screen {
  padding: 10px;
  height: 4rem;
  background-color: black;
  color: white;
}

.result {
  justify-self: end;
}

.clr-btn {
  grid-template-columns: 2fr 1fr 1fr;
}

.num-btn {
  grid-template-columns: repeat(4, 1fr);
}

.lower-btn {
  grid-template-columns: 3fr 1fr;
}

.calc-btn {
  cursor: pointer;
  padding: 20px;
  border: 1px solid #010505;
  text-align: center;
  background-color: #d8d9db;
}

.calc-btn:hover {
  background-color: #d8d9cf;
}

.cta-btn {
  background-color: #df974c;
  color: #ffffff;
  font-weight: 700;
}

.cta-btn:hover {
  background-color: #dfb07e;
}
